.App{
    max-width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App__title{
    margin: 2rem 0;
    letter-spacing: 8px;
    color: var(--very-dark-cyan);
}